Repository CogappLabs/honey-duck: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format-check, ty-check

lefthook.yml:

# Lefthook configuration for honey-duck
# Runs linting, type checking, and tests before commits
#
# Install: pip install lefthook (or brew install lefthook on macOS)
# Enable: lefthook install
# Skip for one commit: LEFTHOOK=0 git commit ...

pre-commit:
  parallel: false  # Run sequentially for better error messages
  commands:
    # 1. Ruff linting (fast Python linter)
    ruff-check:
      glob: "*.py"
      run: uv run ruff check {staged_files}
      stage_fixed: true  # Auto-stage fixes
      skip:
        - merge
        - rebase

    # 2. Ruff formatting (check only, don't auto-format)
    ruff-format-check:
      glob: "*.py"
      run: uv run ruff format --check {staged_files}
      skip:
        - merge
        - rebase

    # 3. Type checking with ty (only src code, not tests/examples/scripts)
    ty-check:
      glob: "{src,cogapp_libs}/**/*.py"
      run: uv run ty check {staged_files}
      skip:
        - merge
        - rebase

    # 4. Run tests
    pytest:
      run: uv run pytest -xvs --tb=short
      skip:
        - merge
        - rebase


post-commit:
  commands:
    # Show commit summary
    summary:
      run: echo "âœ… Commit successful! All checks passed."

# Skip hooks for specific situations
skip_output:
  - meta
  - success

# Fail fast - stop on first error
fail_fast: true

Update docs to reference ty instead of mypy
  docs/development/contributing.md
  docs/development/hooks.md
Due: none

Add DuckDB+Soda pipeline with column lineage and example values
  CLAUDE.md
  GUIDING_PRINCIPLES.md
  cogapp_libs/dagster/io_managers.py
  cogapp_libs/dagster/soda/__init__.py
  cogapp_libs/dagster/soda/checks.py
  frontend/src/app/layout.tsx
  frontend/src/app/lineage/page.tsx
  frontend/src/lib/queries.ts
  pyproject.toml
  src/honey_duck/defs/definitions.py
  src/honey_duck/defs/duckdb_soda/__init__.py
  src/honey_duck/defs/duckdb_soda/assets.py
  src/honey_duck/defs/duckdb_soda/checks.py
  src/honey_duck/defs/duckdb_soda/contracts/artworks_transform.yml
  src/honey_duck/defs/duckdb_soda/contracts/sales_transform.yml
  src/honey_duck/defs/harvest/assets.py
  src/honey_duck/defs/shared/jobs.py
  src/honey_duck/defs/shared/resources.py
Due: ruff-check, ruff-format-check, ty-check

Refactor lineage helpers to shared module, simplify assets
  CLAUDE.md
  cogapp_libs/dagster/__init__.py
  cogapp_libs/dagster/lineage.py
  src/honey_duck/defs/duckdb_soda/assets.py
  src/honey_duck/defs/harvest/assets.py
Due: ruff-check, ruff-format-check, ty-check

Add Soda validation docs and update API reference
  CLAUDE.md
  cogapp_libs/dagster/lineage.py
  docs/api/dagster-helpers.md
  docs/api/io-managers.md
  docs/index.md
  docs/integrations/soda-validation.md
  mkdocs.yml
Due: ruff-check, ruff-format-check, ty-check

Add lineage DSL helpers and refactor DuckDB+Soda assets
  CLAUDE.md
  cogapp_libs/dagster/__init__.py
  cogapp_libs/dagster/lineage.py
  docs/api/dagster-helpers.md
  docs/integrations/soda-validation.md
  src/honey_duck/defs/duckdb_soda/assets.py
Due: ruff-check, ruff-format-check, ty-check

Add DuckDB asset factories for declarative SQL pipelines
  cogapp_libs/dagster/__init__.py
  cogapp_libs/dagster/duckdb.py
  src/honey_duck/defs/duckdb_soda/assets.py
Due: ruff-check, ruff-format-check, ty-check

Add DuckDB friendly SQL and processor equivalents guide
  docs/api/dagster-helpers.md
  docs/guides/processor-equivalents.md
  mkdocs.yml
  src/honey_duck/defs/duckdb/assets.py
  src/honey_duck/defs/duckdb_soda/assets.py
Due: ruff-check, ruff-format-check, ty-check

Switch CI type checking from mypy to ty
  .github/workflows/test.yml
Due: none

Fix Docker runtime downloading dev dependencies
  Dockerfile
  docker-compose.yml
Due: none

Fix Docker deployment configuration
  dagster.yaml
  docker-compose.yml
Due: none

Expand processor equivalents to top 30 with examples
  docs/guides/processor-equivalents.md
Due: none

Add ColumnsToDictsProcessor to processor equivalents guide
  docs/guides/processor-equivalents.md
Due: none

Align processor equivalents with HS outputs
  docs/guides/processor-equivalents.md
  scripts/compare_processor_equivalents.py
  scripts/test_processor_equivalents.py
Due: ruff-check, ruff-format-check

Update mkdocs snippets config and pin ty
  mkdocs.yml
  pyproject.toml
Due: none

Fix DLT translator and clean up warnings
  scripts/test_processor_equivalents.py
  src/honey_duck/defs/harvest/assets.py
  src/honey_duck/defs/polars/assets_ops.py
Due: ruff-check, ruff-format-check, ty-check

Simplify hard-to-read processor equivalents
  docs/guides/processor-equivalents.md
  scripts/test_processor_equivalents.py
Due: ruff-check, ruff-format-check

Move snippet markers inside functions to exclude definitions
  scripts/test_processor_equivalents.py
Due: ruff-check, ruff-format-check

Add title and meta description to all docs
  docs/api/dagster-helpers.md
  docs/api/index.md
  docs/api/io-managers.md
  docs/api/processors.md
  docs/development/cli.md
  docs/development/contributing.md
  docs/development/deployment.md
  docs/development/hooks.md
  docs/development/testing.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/getting-started/tutorial.md
  docs/guides/processor-equivalents.md
  docs/index.md
  docs/integrations/api-harvesting.md
  docs/integrations/common-outputs.md
  docs/integrations/elasticsearch.md
  docs/integrations/iiif-tiles.md
  docs/integrations/localstack-s3.md
  docs/integrations/sitemaps.md
  docs/integrations/soda-validation.md
  docs/integrations/xml-harvesting.md
  docs/user-guide/best-practices.md
  docs/user-guide/frontend-dashboard.md
  docs/user-guide/performance.md
  docs/user-guide/polars-patterns.md
  docs/user-guide/troubleshooting.md
Due: none

Fix Honeysuckle links to use correct paths
  docs/guides/processor-equivalents.md
Due: none

Add missing links to Polars and DuckDB docs
  docs/guides/processor-equivalents.md
Due: none

Add warnings for inefficient Honeysuckle processors
  docs/guides/processor-equivalents.md
Due: none

Add warning for ColumnsToDictsProcessor inefficiency
  docs/guides/processor-equivalents.md
Due: none

Add 4 new processors and verify output equivalence in tests
  docs/guides/processor-equivalents.md
  scripts/compare_processor_equivalents.py
  scripts/test_processor_equivalents.py
Due: ruff-check, ruff-format-check

Remove unused claude_message_batches and fix artist_name whitespace
  cogapp_libs/README.md
  cogapp_libs/dagster/__init__.py
  cogapp_libs/dagster/api_sources.py
  src/honey_duck/defs/polars/assets_multi.py
Due: ruff-check, ruff-format-check, ty-check

Add logging/reporting docs, Pandera validation page, and helper opportunities
  docs/integrations/pandera-validation.md
  docs/user-guide/best-practices.md
  docs/user-guide/logging-and-reporting.md
  docs/user-guide/polars-patterns.md
  mkdocs.yml
Due: none

Document Pandera strict mode options including filter mode
  docs/integrations/pandera-validation.md
Due: none

Fix referential integrity check: select key on both sides of anti-join
  docs/integrations/pandera-validation.md
Due: none

Fix 28 documentation issues found in thorough review
  docs/development/cli.md
  docs/development/deployment.md
  docs/development/hooks.md
  docs/getting-started/installation.md
  docs/getting-started/tutorial.md
  docs/integrations/elasticsearch.md
  docs/integrations/sitemaps.md
  docs/integrations/soda-validation.md
  docs/user-guide/best-practices.md
  docs/user-guide/performance.md
  docs/user-guide/troubleshooting.md
Due: none

Add pipeline threshold docs and move Soda content to dedicated page
  docs/integrations/pandera-validation.md
  docs/integrations/soda-validation.md
Due: none

Add debugpy remote debugging support and documentation
  docs/development/debugging.md
  mkdocs.yml
  pyproject.toml
  src/honey_duck/defs/definitions.py
Due: ruff-check, ruff-format-check, ty-check

Wire up email notification sensors for pipeline success and failure
  cogapp_libs/dagster/__init__.py
  cogapp_libs/dagster/io_managers.py
  cogapp_libs/dagster/notifications.py
  cogapp_libs/dagster/templates/email/daily_summary.html
  cogapp_libs/dagster/templates/email/pipeline_completion.html
  cogapp_libs/dagster/templates/email/pipeline_completion.txt
  cogapp_libs/dagster/templates/email/pipeline_failure.html
  cogapp_libs/dagster/templates/email/pipeline_success.html
  docs/development/deployment.md
  docs/user-guide/logging-and-reporting.md
  src/honey_duck/defs/definitions.py
  src/honey_duck/defs/shared/resources.py
  src/honey_duck/defs/shared/sensors.py
  src/honey_duck/notifications.py
  src/honey_duck/templates/__init__.py
Due: ruff-check, ruff-format-check, ty-check

Update Next.js to 16.1.5 to fix 3 Dependabot alerts
  frontend/package-lock.json
  frontend/package.json
Due: none

Extract shared CSS and use Jinja2 template inheritance for email templates
  cogapp_libs/dagster/notifications.py
  cogapp_libs/dagster/templates/email/_shared.css.j2
  cogapp_libs/dagster/templates/email/base.html.j2
  cogapp_libs/dagster/templates/email/daily_summary.html.j2
  cogapp_libs/dagster/templates/email/pipeline_failure.html.j2
  cogapp_libs/dagster/templates/email/pipeline_success.html.j2
Due: ruff-check, ruff-format-check, ty-check

Fix CI failures: type checking, docs build, and Python version
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .gitignore
  .vscode/launch.json
  src/honey_duck/defs/polars/assets_ops.py
Due: ruff-check, ruff-format-check, ty-check

Consolidate email styles and design tokens into _shared.css.j2
  cogapp_libs/dagster/notifications.py
  cogapp_libs/dagster/templates/email/_shared.css.j2
  cogapp_libs/dagster/templates/email/base.html.j2
  cogapp_libs/dagster/templates/email/daily_summary.html.j2
  cogapp_libs/dagster/templates/email/pipeline_failure.html.j2
  cogapp_libs/dagster/templates/email/pipeline_success.html.j2
Due: ruff-check, ruff-format-check, ty-check
